<a href="https://colab.research.google.com/github/yeonji123/molip/blob/main/Week5_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
col,row=map(int, input().split())
#입력하는 코드
matrix=[]
for i in range(row):
    matrix.append(list(input()))

list=[[0 for i in range(col)]for j in range(row)]

for i in range(row):
    for j in range(col):
        count=0
        if matrix[i][j]=='*':
            
            if i-1>=0:
                list[i-1][j]+=1
            if i+1<=row-1:
                list[i+1][j]+=1
            if j-1>=0:
                list[i][j-1]+=1
            if j+1<=row-1:
                list[i][j+1]+=1
            if i-1>=0 and j-1>=0:
                list[i-1][j-1]+=1
            if i-1>=0 and j+1<=col-1:
                list[i-1][j+1]+=1
            if i+1<=row-1 and j-1>=0:
                list[i+1][j-1]+=1
            if i+1<=row-1 and j+1<=col-1:
                list[i+1][j+1]+=1
        else:
            continue
        
for i in range(row):
    for j in range(col):
        if matrix[i][j]=='*':
            list[i][j]='*'
        print(list[i][j],end='')
    print()

In [ ]:
x={'a':10, 'b':20,'c':30, 'd':40}
x.setdefault('e')
print(x)


x.setdefault('f',100)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [ ]:
x={'a':10, 'b':20,'c':30, 'd':40}
x.update(a=90)
print(x)

x.update(g=200)
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40}
{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'g': 200}

In [ ]:
keys=['a','b','c','d']
d={}
for i,j in dict.fromkeys(keys).items():
    d.setdefault(i,j)
print(d)

{'a': None, 'b': None, 'c': None, 'd': None}

In [ ]:

#{key:0 for key in dict.fromkeys(['a','b','c','d']).keys()}
d={}
for i in dict.fromkeys(['a','b','c','d']).keys():
    d.setdefault(i,0)
print(d)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [ ]:
#{value:0 for value in {'a':10,'b':20,'c':30,'d':40}.values()}

d={}
for i in  {'a':10,'b':20,'c':30,'d':40}.values():
    d.setdefault(i,0)
print(d)

{10: 0, 20: 0, 30: 0, 40: 0}

In [ ]:
#{value:key for key,value in{'a':10,'b':20,'c':30,'d':40}.items()}
d={}
for i,j in {'a':10,'b':20,'c':30,'d':40}.items():
    d.setdefault(j,i)
print(d)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [ ]:
file = open('hello.txt','w')
file.write('Hello, world!')
file.close()

In [ ]:
file = open('hello.txt','r')
s=file.read()
print(s)
file.close()

Hello, world!

In [ ]:
with open('hello.txt','r') as file:
    for line in file:
        print(line.strip('\n'))

Hello, world!

In [ ]:
import pickle

name='james'
age=17
address='서울시 서초구 반포동'
scores={'korean':90,'english':95,'mathematics':85,'scirence':82}

with open('james.txt','wb') as file:
    pickle.dump(name,file)
    pickle.dump(age,file)
    pickle.dump(address,file)
    pickle.dump(scores,file)

In [ ]:
import pickle
with open ('james.txt','rb') as file:
    name=pickle.load(file)
    age=pickle.load(file)
    address= pickle.load(file)
    scores=pickle.load(file)
    print(name)
    print(age)
    print(address)
    print(scores)
print()

james
17
서울시 서초구 반포동
{'korean': 90, 'english': 95, 'mathematics': 85, 'scirence': 82}

In [ ]:
def add_sub(a,b):
    return a+b,a-b

x,y=add_sub(10,20)
print(30)
print(-18)
print(y)

30
-18
-10

In [ ]:
t={}
#입력
for i in range(2):
    print(i+1,'번째')
    stunum=input('학번을 입력하세요')
    t.setdefault(stunum) #key값이 학번인 딕셔너리에 추가

    name = input('이름 : ')
    kor=int(input('국어성적 : '))
    eng=int(input('영어성적 : '))
    math= int(input('수학성적 :'))

    x={'name':name,'kor':kor,'eng':eng,'math':math,'total':0,'avg':0.0}

    t.update(stunum=x)

    total=0
    for key,value in x.items():
        if key=='kor' or key=='eng' or key=='math':
            total+=value
        if key=='total':
            x.update(total=total)
        if key=='avg':
            x.update(avg=round(total/3,2))
print(t)

1 번째
학번을 입력하세요23
이름 : a
국어성적 : 3
영어성적 : 3
수학성적 :3
2 번째
학번을 입력하세요26
이름 : b
국어성적 : 5
영어성적 : 5
수학성적 :5
{'23': None, 'stunum': {'name': 'b', 'kor': 5, 'eng': 5, 'math': 5, 'total': 15, 'avg': 5.0}, '26': None}

In [ ]:
import pickle

t={}
while(True):
    with open('score.txt','rb') as file:
        t=pickle.load(file)
    print('┌-───────────────────-┐')
    print('ㅣ 1.추가  2.출력  3.검색  4.삭제  5.종료 ㅣ')
    print('└───────────────────--┘')
    num=int(input('번호를 입력하세요'))
    x={}
    if num==1:#추가
        stu=int(input('몇명을 입력하시겠습니까'))
        for i in range(stu):
            print(i+1,'번째')
            stunum=input('학번을 입력하세요 : ')
            name = input('이름 : ')
            kor=int(input('국어성적 : '))
            eng=int(input('영어성적 : '))
            math= int(input('수학성적 : '))
            
            x={'이름':name,'국어':kor,'영어':eng,'수학':math,'총점':0,'평균':0}           
            
            total=0
            for key,value in x.items():
                if key=='국어' or key=='영어' or key=='수학':
                    total+=value
                if key=='총점':
                    x.update(총점=total)
                if key=='평균':
                    x.update(평균=round(total/3,2))
            t.setdefault(stunum,x)
            
        with open('score.txt','wb') as file:
            pickle.dump(t,file)
            
    elif num==2: #출력 정렬X
        #람다식으로 국/영/수 등급순, 평균순으로 정렬하여 출력
        print('전체출력')
        for stu, value in t.items():
            print('학번 : ',stu)
            for sub, score in value.items():
                print(sub,':',score)
            print('-----------------------')


    elif num==3:#검색
        find=input('검색하고자하는 학생의 학번 : ')
        for stu, value in t.items():
            if stu==find:
                for sub,score in value.items():
                    print(sub,':',score)
        
    elif num==4: #삭제
        print('학생들의 학번 : ',end='')
        for key in t.keys():
            print(key,end=' ')
        print()
        
        delete=input('삭제하고자하는 학생의 학번 : ')
        t={key:value for key,value in t.items() if key!=delete}
                
        print('삭제 후 학생들의 학번')
        for key in t.keys():
            print(key,end=' ')
            
        with open('score.txt','wb') as file:
            pickle.dump(t,file)
        
    elif num==5:
        print('종료합니다')
        break
    else:
        print('다시입력하세요')

In [ ]:
import operator
dict={20:{'이름':'a','국어':2},30:{'이름':'b','국어':4},40:{'이름':'c','국어':3},50:{'이름':'a','국어':1}}

print(sdict)

In [ ]:
import operator
dict = {'A' : 1, 'D' : 4, 'C' : 3, 'B' : 2}
sdict = sorted(dict.items(), key=operator.itemgetter(1))
print(sdict)

[('A', 1), ('B', 2), ('C', 3), ('D', 4)]

### 25장 문제

In [2]:
maria={'kor':94,'eng':91 , 'math':89, 'sci':83}
avg=sum(maria.values()) / len(maria)
print(avg)

89.25

In [11]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
x.pop('delta')
x={key:value for key, value in x.items() if  value !=30}
 
print(x)

alpha bravo charlie delta
10 20 30 40
{'alpha': 10, 'bravo': 20}

###26장 문제

In [13]:
a={i for i in range(1,100)if i%3==0 }
b={i for i in range(1,100) if i%5==0}

print(a&b)

{75, 45, 15, 90, 60, 30}

In [17]:
a,b = map(int, input().split())

a={i for i in range(1,a+1) if a%i==0}
b={i for i in range(1,b+1) if b%i==0}

divisor = a&b

if type(divisor)==set:
  result=sum(divisor)

print(result)

10 20
18

###27장 문제

In [ ]:
with open('words.txt','r') as file:
    count=0
    words=file.readlines()
    for i in words:
        if len(i.strip('\n'))<=10:
            count+=1
    print(count)

In [ ]:
with open('words.txt','r') as file:
  for line in file:
    words=line.split('.,')
    for i in words:
      if 'c' in words:
        print(i.strip('.,'))